.fundo-imagem {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    margin-top: 12px;
    background-image: url(imagens/arl.png);
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nome1 h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
}