.box1 {
    width: 100%;
    height: 5px;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0 25px 0 0;
    margin-top: 62px;
    
}


.chip {
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px  rgb(90, 90, 90);
    
        
}

.chip-text {
    position: relative;
    z-index: 2;
    background-color: aliceblue;
}

.chip-background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 20px;
    
}

a {
    margin: 25px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(251, 251, 251);
    
}

.lista {
    margin-top: 16px;
    margin-bottom: 16px;
    
}


.imagem{
    width: auto;
    height: 600px;
    background-repeat: no-repeat ;
    background-size: cover;
    margin-top: 18px;
    
}



.active {
    animation: fill 0.5s forwards;
}

@keyframes fill {
   0% {
    width: 0;
}
100% {
    width: 100%;
}

}

