.galeria{
    width: 100%;
    height: 600px;
    border: 15px solid green;
    margin-top: 12px;
    justify-content: center;
}

img{
    width: 200px;
    height: 200px;
    border: 10px solid brown;
    margin: 18px;
    
}

h1{
    text-align: center;
}

